.hero {
    position: relative;
    margin-bottom: 200px;
    &-image {
        margin-left: auto;
        max-width: 65%;
    }

    &-content {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
    }

    &-caption {
        font-weight: 600;
        font-size: 72px;
    }

    &-heading {
        font-size: 150px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    &-link {
        font-size: 18px;
        text-decoration: underline;
        font-weight: 600;
        color: $gray-light;
        display: inline-block;
    }
    @include maxW(1023px) {
        margin-bottom: 100px;
        &-caption {
            font-size: 40px;
        }
        &-heading {
            font-size: 100px;
        }
    }
    @include maxW(767px) {
        margin-bottom: 50px;
        &-caption {
            font-size: 20px;
        }
        &-heading {
            font-size: 40px;
            margin-bottom: 20px;
        }
        &-link {
            font-size: 16px;
        }
        &-image {
            max-width: 75%;
        }
    }
}